%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
{deps, [
        {rafter, ".*", {git, "https://github.com/henglinli/rafter.git", {branch, "master"}}}
       ]}.

{erl_opts, [native, warnings_as_errors,
            warn_obsolete_guard,
            {parse_transform, lager_transform}]}.
